body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
height: 420px;
width: 500px;
position: relative;


}
.container img{
height: 100%;
width: 100%;
border-radius: 5%;
}
.main{
height: 100px;
width:500px;
background-color: rgba(12, 210, 210, 0.819);
position: absolute;
bottom: 0;
border-top: 4px solid red;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
transition-duration: 2s;
}
.main:hover{
   height: 99%;
   transform: translateY(-0px);
   font-size: 35px;
}